{% extends 'base.html' %}

{% block content %}

<h1>Nuevo Registro</h1>
<form action="/actualizar" method="POST" class="form form-control">
    <input type="hidden" value="{{datos.id}}" name="id">
    <div class="dato">
        <label for="">Nombre</label>
        <input type="text" name="nombre" value="{{datos.nombre}}" required  class="form-control">
    </div>
    <div class="dato">
        <label for="">categoria</label>
        <input type="text" name="categoria" value="{{datos.categoria}}" required  class="form-control">
    </div>
    <div class="dato">
        <label for="">Precio</label>
        <input type="text" name="precio" value="{{datos.precio}}" required  class="form-control">
    </div>
    <div class="dato">
        <label for="">Stock</label>
        <input type="number" name="stock" value="{{datos.stock}}" required  class="form-control">
    </div>
    <div class="dato">
        <input type="submit" name="guardar" value="Nuevo registro" required  class="btn btn-success mb-3">
    </div>
</form>

{% endblock %}