{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder; color: white;">TIENDA TECNOLOGICA BYTE SOFT</h1>
<a href="/registro" class="btn btn-success mb-3">Nuevo registro</a>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in productos %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.categoria}}</td>
            <td>{{item.precio}} Bs.</td>
            <td>{{item.stock}} Unidades</td>
            <td>
                <a href="/editar/{{item.id}}" class="btn btn-warning mb-1">Editar</a>
                <a href="/eliminar/{{item.id}}" class="btn btn-danger mb-1">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}