{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder; color: white;">NUEVO REGISTRO</h1>
<form action="/registronuevo" method="POST" class="form form-control">
    <div class="dato">
        <label for="">Nombre</label>
        <input type="text" name="nombre" placeholder="Ingrese su nombre" required  class="form-control">
    </div>
    <div class="dato">
        <label for="">categoria</label>
        <input type="text" name="categoria" placeholder="Ingrese su categoria" required  class="form-control">
    </div>
    <div class="dato">
        <label for="">Precio</label>
        <input type="text" name="precio" placeholder="Ingrese el precio" required  class="form-control">
    </div>
    <div class="dato">
        <label for="">Stock</label>
        <input type="number" name="stock" placeholder="Ingrese el stock" required  class="form-control">
    </div>
    <br>
    <div class="dato">
        <input type="submit" name="guardar" value="Nuevo registro" required  class="btn btn-success mb-3">
    </div>
</form>

{% endblock %}